name: Code Coverage

on:
  push:
    paths-ignore:
      - deployments/**
    # Publish `master` as Docker `latest` image.
    branches:
      - "*"

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        if: success()
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Calc coverage
        run: go test -v -covermode=count -coverprofile=coverage.out
      - name: Convert coverage to lcov
        uses: jandelgado/gcov2lcov-action@v1.0.5
      - name: Coveralls
        uses: coverallsapp/github-action@v1.0.4
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: coverage.lcov
